/* fonts.css contains @font-face declarations for 16 versions of Neue Haas Grotesk Display font. */
/* Note: static .woff2 font files for 16 versions of Neue Haas Grotesk Display font, stored in /public/fonts/woff2. */

/* 15 Ultra Thin */
@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/NHGD1.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

/* 16 Ultra Thin Italic */
@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/NHGD2.woff2') format('woff2');
	font-weight: 100;
	font-style: italic;
}

/* 25 Thin */
@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/NHGD3.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

/* 26 Thin Italic */
@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/NHGD4.woff2') format('woff2');
	font-weight: 200;
	font-style: italic;
}

/* 35 Extra Light */
@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/NHGD5.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

/* 36 Extra Light Italic */
@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/NHGD6.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

/* 45 Light */
@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/NHGD7.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

/* 46 Light Italic */
@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/NHGD8.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

/* 55 Roman */
@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/NHGD9.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

/* 56 Italic */
@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/NHGD10.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

/* 65 Medium */
@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/NHGD11.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

/* 66 Medium Italic */
@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/NHGD12.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}

/* 75 Bold */
@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/NHGD13.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

/* 76 Bold Italic */
@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/NHGD14.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

/* 95 Black */
@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/NHGD15.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

/* 96 Black Italic */
@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/NHGD16.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}
